/* CSS Document */
*{margin:0;padding:0;}
body{position:fixed;width:100%;height:100%; background-color:#fff}
body{font-size:14px;color:#444;font-family:"\5FAE\8F6F\96C5\9ED1"; overflow-x:hidden;position:relative}
img{max-width:100%;border:0}
ul, li{list-style:none}
a{text-decoration:none;display:block;-webkit-tap-highlight-color:rgba(255, 255, 255, 0);-webkit-user-select:none;-moz-user-focus:none;-moz-user-select:none;}
a:visited{text-decoration:none}
.top{
	width:100%;
	height:80px;
	background:url(../images/top_bk.jpg) repeat-x;
	border-bottom:1px solid #c8c8c8;
	box-shadow:0 1px 2px rgba(0,0,0,0.2);
	position:fixed;
	z-index:1001;
	top:0
}

.middle{
	position:relative;
	margin:0 auto;
}

.logo{
	width:189px;
	height:39px;
	/* background-image:url(../images/logo.png); */
	position:absolute;
	top:30px;
	left:-1px
}
/*------------------------------------------------------导航栏开始-------------------------------------------------------------------*/
.navigation{
	position:relative;
	right:0;
	height:80px;
}

.navigation > li{
	float:right;
	display:block;
	width:140px;
	height:80px
}

.navigation > li > a{
	width:140px;
	height:80px;
	position:relative;
}

.navigation p{
	width:100%;
	text-align:center;
	line-height:16px;
	font-size:16px;
	font-weight:bold;
	color:#fff;
	position:absolute;
	z-index:10;
	top:30px;
}

.navigation p.nav_en{
	color:#22e23a;
	font-size:11px;
	line-height:11px;
	font-weight:normal;
	top:56px
}

.navigation > li:hover p{
	text-shadow:0 3px 3px #6d0d04;
}

.navigation > li:hover p.nav_en ,.navigation   li .current p.nav_en{
	text-shadow:none;
	color:#0f0034
}

.nav_bk{
	width:100%;
	height:80px;
	background:url(../images/nav_current.png) repeat-x;
	opacity:0;
	filter:alpha(opacity=0);
	transition: all 0.3s;
	-moz-transition:all 0.3s; /* Firefox 4 */
	-webkit-transition:all 0.3s; /* Safari and Chrome */
	-o-transition:all 0.3s; /* Opera */
}

.navigation > li:hover .nav_bk, .navigation li .current .nav_bk{
	opacity:1;
	filter:alpha(opacity=100);
}

.nav_list{
	*background-color:#e3e3e3;
	background-color:rgba(230,230,230,0.9);
	transition: all 0.3s;
	width:140px;
	position:relative;
	z-index:999;
	display:none;
	transition: all 0.3s;
	-moz-transition:all 0.3s; /* Firefox 4 */
	-webkit-transition:all 0.3s; /* Safari and Chrome */
	-o-transition:all 0.3s; /* Opera */	
}

.navigation > li:hover > .nav_list{
	display:block
}

.nav_list li a{
	padding:10px 15px;
	color:#666;
	transition: all 0.1s;
	-moz-transition:all 0.1s; /* Firefox 4 */
	-webkit-transition:all 0.1s; /* Safari and Chrome */
	-o-transition:all 0.1s; /* Opera */	
}


.nav_list li a:link, .nav_list li a:visited{
        text-decoration:none
}

.nav_list li a:hover{
	background-color:#24a056;
	color:#fff;
	text-indent:2px
}
		
/*------------------------------------------------------导航栏结束-------------------------------------------------------------------*/
.banner_index {
	height: 501px;
}
.scroll-container {
	width: 100%;
	/*height: 601px;*/
	height: 501px;
}

.scroll {
	width: 100%;
	border: 1px solid #ccc;
	overflow: hidden;
}

.scroll ul {
	white-space: nowrap;
}

.scroll ul li {
	display: inline-block;
	
}

.scroll ul img {
	vertical-align: top;
}



* {
	padding: 0;
	margin: 0;
}

.images-content {
	position: absolute;
	z-index: 1;
	left: 0;
	bottom: 0;
	width: 100%;
	color: #fff;
	height: 100%;
	line-height: 54px;
	overflow: hidden;
}

.images-wrapper {
	width: 100%;
	height: 100%;
	position: relative;
}


.title_index2{
text-align: center;
position: absolute;
/* margin-left: -110px; */
margin-top: 11%;
margin-left: 60%;
}

.title_index2 p{
font-size: 45px;
color: #f07e09;
font-weight: bold;
text-align: center;
}

.title_index2 hr{
display:block;
height:2px;
background-color:#20904e;
border:0;
margin:22px 0 14px;
width:100%;
}

.title_index2 p.title_en{
font-size: 18px;
color: #fff;
}



.title_index3{
text-align: center;
position: absolute;
margin-left: 125%;
/* margin-left: -110px; */
margin-top:11%;
}

.title_index3 p{
font-size: 18px;
/*color: #150072;*/
color: #ffffff;
font-weight: bold;
text-align: center;
}

.title_index3 hr{
display:block;
height:2px;
background-color:#20904e;
border:0;
margin:22px 0 14px;
width:100%;
}


.pos_ab_index{
position:absolute;
margin-left: 10%;
top:0
}

/*------------------------------------------------------banner开始------------------------------------------------------------------*/
.banner{
	width:100%;
	position:relative;
	/* background:url(../images/banner_bk.jpg) bottom repeat-x; */
	/* *top:81px;
	margin-top:81px;	 */
}

.banner_img{
	width:100%;
	height:auto;
	max-height:606px;
	margin:0 auto;
}

.banner_title{
	position:absolute;
	height:auto;
	z-index:100;
	top:3.716%
}

.pos_ab{
	position:absolute;
	left:50%;
	top:0
}

.title_position{
	width:46.71875%;
	left:50%;
}

.deadline{
	position:absolute;
	bottom:9.9%;
	font-size:22px;
	color:#24af63;
	font-weight:bold;
	letter-spacing:2px;
	margin-left:10%;
	margin-top:10%;
	/* left:0 */
}

.day i.number{
	font-size:44px;
	color:#fff;
	line-height:60px;
	letter-spacing:0;
	margin:10px 0 0 0
}

.day i{
	font-size:22px;
	font-style:normal;
	margin-left:10px
}

.deadline_top{
	position:absolute;
	font-size:16px;
	color:#24a056;
	font-weight:bold;
	right:15%;
	top:30px;
	display:none
}

.day_top{
	display:inline;	
}

.day_top i.number{
	font-size:30px;
	line-height:30px;
	letter-spacing:0;
	color:#dd8e32;
	margin-left:10px;
}

.day_top i{
	font-size:16px;
	font-style:normal;
	color:#fff;
	margin-left:4px;
}

/*------------------------------------------------------banner结束------------------------------------------------------------------*/

.introduction{
	margin-top:40px	
}

.title{
	width:250px;
	margin:0 auto;
	text-align:center;
}

.title p{
	font-size:16px;
	color:#333;
	font-weight:bold;
	text-align:center;
	line-height:16px;
}

.title hr{
	display:block;
	height:2px;
	background-color:#20904e;
	border:0;
	margin:12px 0 8px;
	width:100%;
}

.title p.title_en{
	font-weight:normal;
	color:#777
}

/*------------------------------------------------------介绍开始------------------------------------------------------------------*/

.introduction_l,.introduction_r{
	margin-top:50px;
	position:relative;
	width:48%;
	float:left;
}

.introduction_r{
	margin-left:4%
}

.introduction_img{
	width:301px;
	height:250px;
	position:absolute;
	left:0;
	/* top:-40px; */
}

.img_l{
	background-image:url(../images/img_left.png)
}

.img_r{
	background-image:url(../images/img_right.png);
	margin-top: 2px;
}

.introduction_detail{
	margin:0 0 0 308px;
	min-height:200px;
}

.introduction_detail p.introduction_content{
	color:#444;
	line-height:28px;
	font-size:14px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	/* -webkit-line-clamp: 5; */
	overflow: hidden;
}

.introduction_detail p.introduction_title{
	font-size:16px;
	font-weight:bold;
	margin-bottom:34px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	line-height:16px
}
.clear{
	clear:both
}

/*------------------------------------------------------介绍结束------------------------------------------------------------------*/


/*------------------------------------------------------征稿开始------------------------------------------------------------------*/
.Proposal{
	width:100%;
	min-height:256px;
	background:#13b51c url(../images/call.jpg) center no-repeat ;
	background-size:cover;
	margin:70px 0 0 0;
	padding:40px 0
}

.Proposal .title hr{
	background-color:#13b51c;
}

.Proposal .title p{
	color:#fff;
}

.Proposal_contnet{
	width:80%;
	text-align:center;
	color:#fff;
	font-size:14px;
	line-height:28px;
	margin:34px auto 50px
}

.introduction_contnet{
	width:80%;
	font-size:14px;
	line-height:28px;
	margin:34px auto 50px
}

.contnet_link_btn{
	margin: 0 auto;
	width:60%;
	position:relative;
	height:40px;
	margin-top: 20px;
}

.contnet_link_btn a{
	width: 50%;
	max-width: 380px;
	height: 56px;
	border: 2px solid #ffffff;
	border-radius: 60px;
    text-align: center;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: bold;
	color: #ffffff;
	line-height: 56px;
	position:absolute;
	transition: all 0.3s;
	-moz-transition:all 0.3s; /* Firefox 4 */
	-webkit-transition:all 0.3s; /* Safari and Chrome */
	-o-transition:all 0.3s; /* Opera */
}

.contnet_link_btn a.btn_l:hover{
	background:#fff;
	color:#24a057;
	font-size:20px
}

.contnet_link_btn a.btn_r:hover{
	background:#fff;
	color:#24a057;
	font-size:20px
}


.link_btn{
	margin: 0 auto;
	width:80%;
	position:relative;
	height:40px
}

.link_btn a{
	width:40%;
	max-width:400px;
	/* max-width:180px; */
	height:36px;
	/* border:2px solid #fff; */
	border:2px solid #24a057;
	border-radius:20px;
	text-align:center;
	letter-spacing:2px;
	font-size:18px;
	font-weight:bold;
	color:#24a057;
	line-height:36px;
	position:absolute;
	transition: all 0.3s;
	-moz-transition:all 0.3s; /* Firefox 4 */
	-webkit-transition:all 0.3s; /* Safari and Chrome */
	-o-transition:all 0.3s; /* Opera */	
}



.btn_l{
	left: 0;
    top: 0;
    background-color: #24a057;
    background-color: rgba(34, 179, 77, 0.3);
	/* margin-left: 38%; */
}

.link_btn a.btn_l:hover{
	background:#fff;
	color:#24a057;
	font-size:20px
}

.btn_r{
	right: 0;
    top: 0;
    background-color: #24a057;
    background-color: rgba(34, 179, 77, 0.3);
}

.link_btn a.btn_r:hover{
	background:#fff;
	color:#24a057;
	font-size:20px
}

/*------------------------------------------------------征稿结束------------------------------------------------------------------*/

/*------------------------------------------------------嘉宾开始------------------------------------------------------------------*/
.Guests{
	margin-top:40px
}

.Guests_list{
	margin:50px auto 0;
	text-align:center;
	width:80%;
}

.Guests_list2{
	margin:0 auto;
}

.Guests_list li{
	display:inline-block;
	width:200px;
	position:relative;
	*display:inline;
	*zoom:1;
	min-height:250px;
	vertical-align:top
	
}

.cover{
	width:150px;
	height:151px;
	background-image:url(../images/photo/img_cover.png);
	position:absolute;
	z-index:10;
	top:0;
	left:25px;
}

.photo{
	width:150px;
	height:151px;
	margin:0 auto
}

.photo1{
	background-image:url(../images/photo/1.jpg)
}

.photo2{
	background-image:url(../images/photo/2.jpg)
}

.photo3{
	background-image:url(../images/photo/3.jpg)
}

.photo4{
	background-image:url(../images/photo/4.jpg)
}

.photo5{
	background-image:url(../images/photo/5.jpg)
}

.photo6{
	background-image:url(../images/photo/6.jpg)
}

.photo7{
	background-image:url(../images/photo/7.jpg)
}

.photo8{
	background-image:url(../images/photo/8.jpg)
}

.photo9{
	background-image:url(../images/photo/9.jpg)
}

.photo0{
	background-image:url(../images/photo/guest.jpg)
}

.name{
	text-align:center;
	font-size:16px;
	font-weight:bold;
	color:#444;
	margin-top:10px;
	line-height:16px;
}

.Guests_info{
	color:#444;
	font-size:14px;
	line-height:21px;
	margin-top:12px
}

/*------------------------------------------------------嘉宾结束------------------------------------------------------------------*/

/*-----------------------------------------------------赞助商开始-----------------------------------------------------------------*/

.sponsor{
	margin-top:40px;
}

.shadow_l,.shadow_r{
	position:absolute;
	right:50%;
	top:54px;
	background-image:url(../images/shadow_l.png);
	width:624px;
	height:224px;
}

.shadow_r{
	right:auto;
	left:50%;
	background-image:url(../images/shadow_r.png);
}

.sponsor_lists{
	margin:42px auto 0;
	text-align:center;
        position:relative;
        padding-top:40px;
}

.sponsor_lists2{
        margin:0 auto;
        padding:0;
}

.sponsor_lists li{
	display:inline-block;
	*display:inline;
	*zoom:1;
	margin-top:26px
}

.sponsor_lists li.sponsor_lists_ccf{
	display:block;
	position:relative;
	width:90%;
	height:2px;
	background-color:#22e23a;
	margin:-10px auto 0;
}

.sponsor_lists li.sponsor_lists_gold{
       display:block;
       position:relative;
       width:90%;
       height:2px;
       background-color:#DAA520;
       margin:-10px auto 0;
}

.sponsor_lists li.sponsor_lists_gold.sponsor_lists_nor{
	background-color:#FFD700;
}

.sponsor_lists li.sponsor_lists_ccf.sponsor_lists_ccf_nor{
      background-color:#22e23a;
}

.sponsor_lists li.sponsor_lists_gold.sponsor_lists_diamond{
	background-color:#ecb1cd;
}

.sponsor_lists li.sponsor_lists_ccf p{
	width:120px;
	height:30px;
	position:absolute;
	left:50%;
	margin-left:-60px;
	top:-15px;
	line-height:30px;
	font-size:16px;
	font-weight:bold;
	text-align:center;
	/* color:#d6c75a; */
	color:#22e23a;
	background-color:#fff
}

.sponsor_lists li.sponsor_lists_gold p{
      width:120px;
      height:30px;
      position:absolute;
      left:50%;
      margin-left:-60px;
      top:-15px;
      line-height:30px;
      font-size:16px;
      font-weight:bold;
      text-align:center;
      /* color:#d6c75a; */
	  color:#DAA520;
      background-color:#fff
}

.sponsor_lists li.sponsor_lists_gold.sponsor_lists_nor p{
      color:#FFD700
}

.sponsor_lists li.sponsor_lists_gold.sponsor_lists_diamond p{
	color:#ecb1cd
}

.sponsor_img{
	width:320px;
	height:100px
}

.logo_img{
	width:615px;
	height:100px
}

.ccflogo1{
	background-image:url(../images/ccf_logo.png);
	width:307px;
	height:50px
}

.ccflogo2{
	background-image:url(../images/CCF_tixi.png);
	width:307px;
	height:50px;
}

.ccflogo3{
	background-image:url(../images/CCF_cunchu.png);
	width:321px;
	height:51px;
}

.ccflogo4{
	background-image:url(../images/zjlab_logo.png)
}

.ccflogo5{
	background-image:url(../images/zheda.png);
	width:244px;
	height:50px;
}

.ccflogo6{
	background-image:url(../images/kongjianlab.png);
	width:316px;
	height:50px;
}

.sponsor1{
	background-image:url(../images/sponsor/1.jpg)
}

.sponsor2{
	background-image:url(../images/sponsor/2.png);
	width: 220px;
}

.sponsor3{
	background-image:url(../images/sponsor/3.png);
	width: 220px;
	margin-left: 60px;
}

.sponsor4{
	background-image:url(../images/sponsor/4.jpg);
	width: 451px;
	margin-left: 60px;
}

.sponsor5{
	background-image:url(../images/sponsor/5.png);
	height: 66px;
	width: 380px;
	margin-right: 60px;
}

.sponsor6{
	background-image:url(../images/sponsor/6.jpg)
}

.sponsor7{
	background-image:url(../images/sponsor/7.jpg)
}

.sponsor8{
        background-image:url(../images/sponsor/8.jpg)
}

.sponsor9{
        background-image:url(../images/sponsor/9.jpg)
}

.sponsorblank{
        background-image:url(../images/sponsor/10.jpg)
}

/*-----------------------------------------------------赞助商结束-----------------------------------------------------------------*/


/*-----------------------------------------------------footer开始----------------------------------------------------------------*/

.footer{
	width:100%;
	margin-top:82px;
	padding:52px 0 154px;
	background:url(../images/footer_bk.jpg) repeat;
	position:relative
}

.switch{
	display:none
}

.title_footer{
	font-size:16px;
	color:#000;
	vertical-align:bottom;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}

.title_footer i{
	font-style:normal;
	font-weight:bold;
	color:#24a056;
	font-size:18px;
	text-shadow:1px 1px 0 #9c9ba3;
	vertical-align:bottom;
	line-height:18px;
	margin-right:10px;
        letter-spacing:2px
}

.hr{
	width:100%;
	height:1px;
	background-color:#a7a6a1;
	position:absolute;
	margin-top:12px
}

.purple{
	position:absolute;
	width:150px;
	height:5px;
	background-color:#24a056;
	top:-2px;
	left:0
}

.footer_info{
	margin-top:30px;
	color:#24a056;
	font-size:16px;
	line-height:36px;
	text-shadow:1px 0 0 #24a056
}

.footer_info > li{
	margin:0 100px 20px 0;
	float:left
}

.footer_info   li.info_title {
	color:#24a056;
	text-shadow:1px 1px 0 #24a056;
	font-weight:bold;
	margin-bottom:0px;
	line-height:16px;
	margin-bottom:20px
}

.contack{
	float:right;
	height:122px;
	position:relative;
	padding-left:134px;
	margin:0 0 20px 32px
}

.weixin{
	width:119px;
	height:119px;
	border:2px solid #fff;
	background:url(../images/local/contact_group.jpg) center no-repeat;
	position:absolute;
	left:0;
	top:0
}

.contack_title{
	font-size:16px;
	font-weight:bold;
	color:#000
}

.contack_info{
	font-size:14px;
	color:#000;
	line-height:30px;
	margin-top:30px
}

.contack_l{
	margin-left:0
}

.clear2{
	display:none
}

.copyright{
	width:100%;
	background:#20904e url(../images/copyright_bk.png) center repeat-y;
	position:absolute;
	bottom:0;
	height:72px;
	color:#fff;
	text-align:center;
	line-height:72px
}

/*-----------------------------------------------------footer结束----------------------------------------------------------------*/






/*-----------------------------------------------------  content  ----------------------------------------------------------------*/

.banner2{
	width:100%;
	position:relative;
	background:url(../images/banner_bk2.png) bottom repeat-x;
	*top:81px;
	margin-top:81px;	
}

.banner_img2{
	width:100%;
	height:283px;
	background:url(../images/banner2.jpg) center repeat
}

.banner_title{
	position:absolute;
	height:auto;
	z-index:100;
	top:3.716%
}

.deadline2{
	font-size:22px;
	font-weight:bold;
	color:#24a056;
	margin-top:60px
}

.day2{
	margin-top:10px
}

.day2 i.number2{
	font-size:44px;
	color:#df8b33;
	line-height:60px;
	letter-spacing:0;
	margin:0
}

.day2 i{
	font-size:22px;
	font-style:normal;
	margin-left:10px;
	color:#fff
}

.title2{
	width:220px;
	text-align:center;
	position:absolute;
	left:50%;
	margin-left:-110px;
	top:60px
}

.title2 p{
	font-size:20px;
	color:#fff;
	font-weight:bold;
	text-align:center;
	line-height:20px;
}

.title2 hr{
	display:block;
	height:2px;
	background-color:#20904e;
	border:0;
	margin:22px 0 14px;
	width:100%;
}

.title2 p.title_en{
	font-weight:normal;
	font-size:18px;
	line-height:18px;
	color:#fff
}




/* 
.title_index2{
	text-align: center;
    position: absolute;
    margin-left: -110px;
	top: 8%;
}

.title_index2 p{
	font-size: 45px;
    color: #f07e09;
    font-weight: bold;
    text-align: center;
}

.title_index2 hr{
	display:block;
	height:2px;
	background-color:#20904e;
	border:0;
	margin:22px 0 14px;
	width:100%;
}

.title_index2 p.title_en{
	font-size: 18px;
    color: #5d00b1;
} */




/* .title_index3{
	text-align: center;
    position: absolute;
    left: 70%;
    margin-left: -110px;
	top: 8%;
    
} */

/* .title_index3 p{
	font-size: 15px;
    color: #00f1ee;
    font-weight: bold;
    text-align: center;
} */

/* .title_index3 hr{
	display:block;
	height:2px;
	background-color:#20904e;
	border:0;
	margin:22px 0 14px;
	width:100%;
} */



.title_index4{
	position: absolute;
    left: 62%;
    margin-left: -110px;
	top: 48%;
    /* top: 220px; */
    width: 100%;
}

.title_index4 p.title_en{
	font-weight: normal;
    font-size: 15px;
    color: #37008e;
    margin-top: 2px;
}





.menu_content{
	margin-top:60px
}

.menu ul.menu_list{
	width:150px;
	max-width:13.15789474%;
	float:left
}

.menu ul.menu_list li{
	margin-bottom:34px
}

.menu ul.menu_list li a{
	font-size:16px;
	line-height:32px;
	color:#444;
	text-align:right;
	transition: all 0.1s;
	-moz-transition:all 0.1s; /* Firefox 4 */
	-webkit-transition:all 0.1s; /* Safari and Chrome */
	-o-transition:all 0.1s; /* Opera */
}

.menu ul.menu_list li a:link, .menu ul.menu_list li a:visited{
       text-decoration:none
}

.menu ul.menu_list li a:hover, .menu ul.menu_list li a.menu_current{
	font-size:17px;
	font-weight:bold;
	color:#24a056;
}

.menu ul.menu_list li a:hover i,  .menu ul.menu_list li a.menu_current i{
	display:inline-block
}

.menu ul.menu_list li a i{
	width:7px;
	height:7px;
	background-image:url(../images/dot.png);
	margin-right:20px;
	display:none
}

.content_detail{
	max-width:82.45614035%;
	/* width:940px; */
	width:1080px;
	float:right;
	position:relative
}

.content_detail_biao{
	max-width:82.45614035%;
	width:1080px;
	float:right;
	position:relative
}

.location{
	position:absolute;
	width:100%;
	border-bottom:1px solid #b9b8b8;
	height:40px;
	line-height:40px;
	color:#777;
	text-indent:10px;
	top:-40px
}

.location i{
	font-style:normal;
	color:#24a056;
	font-weight:bold
}

.content{
	width:100%;
	padding-top:20px
}

.content p{
	color:#555;
	line-height:24px;
	font-size:16px;
	margin-bottom:24px
}

.content p.content_title{
	font-size:20px;
	font-weight:bold;
	line-height:40px;
	text-align:center;
	letter-spacing:1px;
	margin-bottom:30px
}


.title_list{
	width:100%
}

.title_list li{
	width:100%
}

.title_list li a{
	width:100%;
	line-height:40px;
	display:block;
	cursor:pointer;
	font-size:16px;
	color:#24a056;
	font-weight:bold;
	padding:14px 0;
	letter-spacing:1px;
	border-bottom:1px dotted #ddd;
	text-indent:10px;	
}

.title_list li a:hover{
	background-color:#24a056;
	border-left:4px solid #e84f2f;
	color:#fff;
	text-indent:20px;
	transition: all 0.3s;
	-moz-transition:all 0.3s;
	-webkit-transition:all 0.3s;
	-o-transition:all 0.3s;
}

.pb_sys_common{
      padding-top:20px
}

.content .pb_sys_style1 .p_no_d{
    border: 1px solid #24a056;
    color: #fff;
    background-color: #24a056;
}

.chengban{
	width:580px;
}

ul.chengban a {
    float: left;
}

.chengban li{
	float:left;
	width:200px;
	margin-right:30px
}

.chengban li.info_title{
	width:100%
}

.meetingplan p{
   margin-bottom:0;
   line-height:40px
}

.content .meetingplan p a:hover{
   background-color:#24a056;
   cursor:pointer;
   color:#fff;
   text-decoration:none
}

.content .meetingplan p a{
  
   color:#000;
   padding-left:10px;
}

.content .meetingplan p a:hover span{
   color:#fff
}

.content .phototable p {
   margin-bottom:10px
}

.content p a:link, .content p a:visited{
  color:#444
}

.content p a:hover{
  color:#24a056;
  font-weight:bold
}

.content .yuanshi p{
   margin-bottom:10px
}