/* CSS Document */
.sp_header{height:80px;overflow:hidden;position:fixed;z-index:1002;width:100px;right:2%;top:0;display:none}
.sp_nav{width:50px;float:right;position:relative;cursor:pointer;height:30px;margin-top:30px}
.sp_nav span{display:block;background:#fff;width:30px;height:2px;position:absolute;left:10px;transition:all ease 0.35s}
.sp_nav span:nth-of-type(1){top:0px}
.sp_nav span:nth-of-type(2){top:10px}
.sp_nav span:nth-of-type(3){top:20px}
.sp_nav_se span:nth-of-type(1){top:10px;transform:rotate(45deg)}
.sp_nav_se span:nth-of-type(2){width:0}
.sp_nav_se span:nth-of-type(3){top:10px;transform:rotate(-45deg)}
.sjj_nav{position:fixed;z-index:999;background:#070034;width:100%;height:calc(100% - 104px);font-size:14px;line-height:60px;top:-100%;left:0;overflow:auto;overflow-x:hidden;transition:top ease 0.35s;}
.nav_show{top:80px}
.sjj_nav ul{zoom:1}
.sjj_nav>ul>li:first-child{overflow:hidden;border-top:0}
.sjj_nav ul li i{position:absolute;top:0;right:0px;border-left:1px #ddd solid;height:60px;width:10%;cursor:pointer}
.sjj_nav ul li i svg{transform:rotate(-90deg);transition:all ease 0.35s}
.sjj_nav ul li .sjj_nav_i_se svg{transform:rotate(0deg)}
.sjj_nav ul li{border-top:1px #ddd solid;position:relative;line-height:60px;font-size:14px; background-color:##070034}
.sjj_nav>ul >li:last-child{border-bottom:1px #ddd solid;}
.sjj_nav ul li ul{display:none;margin-left:20px}
.sjj_nav ul li a{color:#fff;width:80%;text-indent:20px}
.sjj_nav ul li ul li{border-top:1px solid #555}
.sjj_nav ul li ul li a{color:#8ba4f7;display:block;text-align:left;height:40px;line-height:40px;position:relative; z-index:1000}
.sjj_nav ul li i svg{width:20px;height:20px;fill:#555;}
.sjj_nav ul li .sjj_nav_i_se svg{fill:#c9141e}
.sjj_nav ul li ul li>ul{margin-left:10px}
.sp_nav_more{background:url(../images/more.png) center 0 no-repeat;transition: all 0.3s;-moz-transition:all 0.3s;-webkit-transition:all 0.3s;-o-transition:all 0.3s;}
.sjj_nav_open{background-position: center -60px}